work/
Makefile
PanelMake
*Make*
!SnakeMakeArea
!SnakeMakeArea/Example
SnakeMakeArea/work*
*.bed.gz
results/
*__pycache__*
*sif
.nextflow.log*
.nextflow/
*tsv
*bed
*txt
make_neg_sample_list.py
*.sif
SnakeMakeArea/*DB*
SnakeMakeArea/*Panel*
*log
SnakeMakeArea/logs
*.tbi
SnakeMakeArea/bin
*/.snakemake
*samples
DEL/
.snakemake/
work*
