work/
Makefile
PanelMake
*Make*
!SnakeMakeArea
!SnakeMakeArea/Example
SnakeMakeArea/work*
*.bed.gz
results/
*__pycache__*
*sif
.nextflow.log*
.nextflow/
*tsv
*bed
*txt
make_neg_sample_list.py
*.sif
SnakeMakeArea/*DB*
SnakeMakeArea/*Panel*
*log
SnakeMakeArea/logs
*.tbi
SnakeMakeArea/bin
*/.snakemake
*samples
DEL/
.snakemake/
work*
*del*
*pickle
DelSnakemake/
RefPanelDB/
SmallNegPanelDB/
bin/gargs
bin/gatk-4.2.2.0.zip
bin/gatk-4.2.2.0/
CallComparison/work/
CallComparison/OG_Beds/
CallComparison/job.sh
bi300_plot_example.sh
BI300_Test_Output_DB/
