/*
 * -------------------------------------------------------------
 *  Nextflow config file for use with Singularity on a Slurm Cluster
 * -------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

singularity {
  enabled = true
  // replace /scratch,/Shares with the path to your working dirrectory, or the lowest common ancestory dirrectory shared by all files you will need
  runOptions = "--bind /scratch,/Shares"
}

process {
  container = 'file:///scratch/Shares/layer/workspace/michael_sandbox/CNViz/Singularity/cnviz.sif'
  executor = 'slurm'
  queue = 'long'
  cache = 'lenient'
  maxForks = 128
  
  // define error handling strategies, retry to make sure if wasn't just a system level oddity that broke
  errorStrategy = {task.exitStatus in [127,143,137,104,134,139, 255] ? 'retry' : 'finish'}
  maxErrors = '-1'
  maxRetries = 1
}

