
/*
 * -------------------------------------------------------------
 *  Nextflow config file for use with Singularity on fiji
 * -------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

//params{
//  genomes_base= '/scratch/Shares/CHCO/ref/igenomes'
//}

singularity {
  enabled = true
  // runOptions = "--bind /scratch,/tmp"
  runOptions = "--bind /scratch,/Shares"
}

process {
  container = 'file:///scratch/Shares/layer/workspace/michael_sandbox/CNViz/cnviz.sif'
  executor = 'slurm'
  queue = 'long'
  cache = 'lenient'
  //clusterOptions = '-n 1'
  maxForks = 128

  withLabel:container_py3_pandas {
    container = 'file:///scratch/Shares/layer/workspace/michael_sandbox/CNViz/cnviz.sif'
  }
}



